# db
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
# django
SECRET_KEY=your-django-secret-key
DEBUG=False
ALLOWED_HOSTS=your-server-ip,your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com,http://your-server-ip
